// body {
//   font-family: sans-serif;

//   a {
//     text-decoration: none;
//   }

//   label {
//     display: block;
//   }

//   nav a {
//     display: inline-block;
//     margin: 1em;
//   }

//   form div {
//     margin: 1em;
//     display: inline-block;
//   }
// }

* {
  box-sizing: border-box;
}

.results-wrapper {
  // flex: 0 0 75%;
  display: flex;
  width: 75%;
  max-width: 75%;
}

.specs-wrapper {
  display: flex;
  // flex: 0 0 20%;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 23%;
}

.column {
  padding: 0.5em;
}

.column-3of4 {
  width: 68%;
  overflow: hidden;
}

.column-1of4 {
  // flex: 0 0 25%;
  width: 32%;
}

.column-1of6 {
  flex: 0 0 15%;
}

.column-4of4 {
  // flex: 0 0 100%;
  width: 100%;
}
